*{
    margin:0;
    padding:0;
}
h2{
    color: cornflowerblue;

}
img{
    width: 200px;
}
.monday{
    color: chartreuse;
}
.months{
    background-color: blueviolet;
}
.Days{
    background-color: chartreuse;
}
#sample{
    background-color: chocolate;

    border: 2px,darkcyan,dashed;
}
.first{
    border-style: dotted;
    margin: 10px 15px;
    padding: 30px;
}

/* my flexbox properties */
.Container{
    background-color: aqua;
}
.childContainer{
    background-color: rgb(255, 0, 212);
    display: flex;
    /* flex-direction: row; */
    /* gap: 10px; */
    justify-content: space-between;
    
}