/* *{
    background-color: aqua;
} */
h2{
    color: cornflowerblue;

}
img{
    width: 200px;
}
.monday{
    color: chartreuse;
}
.months{
    background-color: blueviolet;
}
.Days{
    background-color: chartreuse;
}